{
  "plugins": ["react", "@typescript-eslint", "prettier", "unused-imports"],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb/hooks",
    "airbnb",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    }
  },
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": [1, { "variables": false }],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/explicit-function-return-type": "off",

    "react/jsx-one-expression-per-line": "off",
    "react/jsx-max-props-per-line": "off",
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-wrap-multilines": "off",
    "react/require-default-props": "off",
    "react/function-component-definition": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", ".tsx"]
      }
    ],
    "react/jsx-props-no-spreading": "off",

    "unused-imports/no-unused-imports": "error",
    "import/prefer-default-export": "off",
    "no-use-before-define": [0],
    "no-plusplus": "off",
    "global-require": "off",
    "no-useless-return": "off",
    "operator-linebreak": "off",
    "import/extensions": "off",
    "no-nested-ternary": "off",
    "lines-between-class-members": "off",
    "no-shadow": "off",
    "object-curly-newline": "off",
    "comma-dangle": "warn",
    "semi": "warn",
    "max-len": ["error", { "code": 120 }],
    "import/newline-after-import": ["error", { "count": 1 }],
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
    "function-paren-newline": "off",
    "no-useless-constructor": "off"
  }
}
